<?xml version="1.0" encoding="UTF-8"?>

<TabBarTable>
	<TabBar id = "1" pinTab = "true" showView = "true" isDefault = "true" LockDefault = "false">
		<icon>:/icon/outline</icon>
		<name>OutLine</name>
		<currentView>3</currentView>
		<defaultView>6</defaultView>
		<hotkey>Ctrl+N</hotkey>
	</TabBar>
</TabBarTable>

<ViewTable>
	<View id = "1" isGroup = "true" hide = "false">
		<name>To-Do</name>
		<icon>:/icon/todo</icon>
		<conters enable = "true" hideIfZero = "ture">
			<type>Overdue</type>
			<hierarchy>with subtasks</hierarchy>
		</conters>
		<Filter>
			<show>
				<actions>Available</actions>
				<hierarchy>Yes</hierarchy>
				<complet>
					<type>Recent</type>
					<hideOld>3d</hideOld>
				</complet>
			</show>
			<text title = "true" notes = "true" contexts = "false" tag = "false">
				<string>ABC</string>
			</text>
			<contexts includeClosed = "false" operation = "and">
				<row>@Home</row>
				<row>@Office</row>
			</contexts>
			<flags>
				<row>red</row>
				<row>green</row>
			</flags>
			<startDate hideUndated = "false">
				<from type = "functions" >Today-3</from>
				<to type = "functions" >Today+5</to>
			</starDate>
			<advanced>
				<rule></rule>
				<rule></rule>
			</advanced>
			<groupSort>
				<group showCount = "true" showName = "true" onlyByDays = "false">
					<groupBy type = "ascending">Computed-Score</group>
					<groupBy type = "ascending">Effort</group>
					<groupBy type = "ascending">Flag</group>
					<groupBy type = "ascending">Project</group>
				</group>
				<sort manual = "false">
					<sortBy type = "ascending">Computed-Score</sortBy>
					<sortBy type = "ascending">Effort</sortBy>
					<sortBy type = "ascending">Flag</sortBy>
					<sortBy type = "ascending">Project</sortBy>
				</sort>
			</groupSort>
		</Filter>
	</View>
</ViewTable>